lpips==0.1.4
matplotlib==3.8.2
nibabel==5.3.2
numba==0.59.0
numpy==2.3.1
opencv_python==4.8.1.78
pandas==2.3.1
scikit_learn==1.4.0
scipy==1.16.0
skimage==0.0
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
